.item-content-wrapper{
    @apply absolute bg-white shadow-2xl w-full p-2 text-gray-600 flex flex-col   ;
    min-height: 600px;
    max-height: 600px;
    top: 150%;
}

.content{
    min-height: 500px;
    max-height: 550px;
    @apply overflow-auto;

}